```
title: About
layout: default
tags: ['intro','page']
pageOrder: 1
objectives:
- Promote the use and development of JavaScript
- Promote the adoption of JS outside the browser
- Build up an inclusive network of Montreal JS developers - amateurs, journeymen, gurus - and facilitate events to encourage knowledge exchange and networking
- Disseminate quality JS related information (tutorials, articles, papers, discussions, etc)
- Have fun programming and talking about programming
```
.row
  .span6.blurb
    %h2= document.title
    %p JS-MONTREAL is a user group run by volunteers. We meet in borrowed spaces, graciously provided by different companies and organisations. Our purpose is to provide a place where our members can have a good time talking about programming and meet other like minded folks. We talk shop, network and geek out.
  .span6
    %h5.objectives-title Objectives
    %ul.objectives.bigger
      :each p in document.objectives
        %li= p
.row
  .span6
    .foto
      %img(src="/img/nerd-herd.jpg")
      %p
        %em
          January 2010
        &mdash; Our first meetup. Douglas Crockford in the house!
  .span6
    .foto
      %img(src="/img/nerds.jpg")
        %p
          Douglas Crockford, Bruno Carriere, Laurent Villeneuve & Vladimir Sedach
