```
title: Archive
layout: page
tags: ['archive','page']
pageOrder: 2
```
- var meetups = getMeetups()
-# We have to pass the partial and gravaturl function into the partials
-# because they don't get the templateData context passed to them automatically...
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate }
= partial('meetups', { meetups: meetups, helpers: helpers })