```
title: Where is it?
layout: default
tags: ['intro','page']
pageOrder: 2
```
.row
  .span12.blurb
    %h2 How to get there
    %p We now meet at the <a href="http://www.cakemail.com"> Cakemail</a> offices. Here's where it is.
.row
  .span16
    %ol.directions
      %li Take the metro to Place-Saint-Henri (orange line)
      %li Take the Saint-Ferdinand exit on the left
      %li Walk down Saint-Ferdinand St. until Saint-Ambroise St
      %li Cross the street and the building will be on your left
      %li You can also get out at Lionel Groulx and go down Atwater until you hit Ste Ambroise and go right (westward)

.row
  #map{style: "width: 640px; height: 480px; margin: 0 auto; margin-bottom: 27px; border: 10px solid white;" }
    %iframe{width: "640", height: "480", frameborder: "0", scrolling: "no", marginheight: "0", marginwidth: "0", src: "http://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=Cakemail&aq=&sll=45.445273,-73.4433&sspn=0.010613,0.007231&ie=UTF8&hq=Cakemail&hnear=&t=h&ll=45.475165,-73.580924&spn=0.010231,0.01869&z=14&iwloc=A&cid=7752929558130362959&output=embed"}
    %br
    %small
      %a{ href: "http://maps.google.ca/maps?f=q&source=embed&hl=en&geocode=&q=Cakemail&aq=&sll=45.445273,-73.4433&sspn=0.010613,0.007231&ie=UTF8&hq=Cakemail&hnear=&t=h&ll=45.475165,-73.580924&spn=0.010231,0.01869&z=14&iwloc=A&cid=7752929558130362959", style: "color:#0000FF;text-align:left"} View Larger Map