```
title: Be a presenter
layout: default
tags: ['intro','page']
pageOrder: 3
purposes:
- Promote the use and development of JavaScript,
- Promote the adoption of JS outside the browser,
- Build up an inclusive network of Montreal JS developers - amateurs, journeymen, gurus - and facilitate events to encourage knowledge exchange and networking,
- Disseminate quality JS related information (tutorials, articles, papers, discussions, etc),
- Have fun programming and talking about programming
  ```
.row
  .span16.blurb
    %h2 Want to show us something?
.row
  .span6
    %p.synopsis.bigger
      Anything related to JavaScript will do. If you want to present a commercial product you benefit from, you are required to buy beer for everyone. That's it!
    %a.btn.info{href:"mailto:contact@js-montreal.org"} Contact us
  .span6
    %h4 Keep our objectives in mind:
    %ul
      :each purpose in document.purposes
        %li= purpose
    %h4 Une note concernant la langue
    %p.synopsis
      Lors de nos rencontres, les orateurs choisiront de pr&eacute;senter en anglais ou en francais, &agrave; leur guise. Normalement si le synopsis est en français, la présentation le sera aussi.
