// /*
//   makes gravatar images the right size for the columns

// */
@import "twitter-bootstrap.css.less";

html {
  background-color: #ddd;
}

body {
  background-color: #fafafa;
}

h1 {
  font-size: 58px;
}

h2 {
  font-weight : normal;
  margin : 0px 0px 0.5em 0px;
}

footer {
  min-height: 250px;
  #gradient > .vertical(#FAFAFA, #ddd);
  border-top: 1px solid #eee;
  padding-top: 1em;
  h4 {
    color: lightGray;
    text-shadow : 0px 1px 0.5px white;
  }
  ul {
    li {
      margin-bottom: 4px;
    }
  }
}

#content {
  background-color: #fafafa;
  min-height: 500px;
}

ul.contact {
  li {
    padding-left: 24px;

    &.facebook {
      background: url(/img/icons/facebook.png) no-repeat scroll left bottom transparent;
    }

    &.linkedin {
      background: url(/img/icons/linkedin.png) no-repeat scroll left bottom transparent;
    }

    &.twitter {
      background: url(/img/icons/twitter-2.png) no-repeat scroll left bottom transparent;
    }

    &.email {
      background: url(/img/icons/social-email.png) no-repeat scroll left bottom transparent;
    }
  }
}

.when {
  font-size: 16px;
  color: #777;
  font-weight: bold;
  line-height: 18px;
}

.hero-unit {
  padding: 16px;

  .register {
    background-color: #FAFAFA;
    border: solid 1px transparent;
    border-radius: 0 0 5px 5px;
    padding: 8px;
    // #gradient > .vertical(#ECECEC, #FAFAFA);
  }
}

.speaker {
  @img-width: 100px;

  img.gravatar {
    width: @img-width;
    float: left;
  }

  h4 {
    font-size: 21px;
    font-weight: normal;
    white-space: nowrap;
  }

  h5, h4 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4;
  }

  .synopsis {
    margin-top: 1em;

    p {
      font-size: 13px;
      line-height: 1.6;
      margin-left: @img-width + 10px;
    }
  }

  .speaker-links {
    margin-left: @img-width + 10px;
  }
}

p.attention {
  line-height: 1.6;
  margin-top: 1em;
}

.about {
  #content .row:last-child {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.foto {
  img {
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
  }


  p {
    padding-top: 4px;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    font-color: #ddd;
    }
}

.bigger {
  font-size: 110%;
}

.grey-uppercase-title {
  text-transform: uppercase;
  color: #BFBFBF;
}

h2 {
  color: @blue;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.blurb {
  p {
    font-size: 120%;
    line-height: 160%;
    margin-bottom: 3em;
    border-left: 10px solid @grayLighter;
    padding-left: 10px;
  }
}




#map small a {
  color: #71C4EB !important;
  float: right;
  border-bottom: none;
}

ol.directions {
  font-size: 120%;
  line-height: 1.2;
}

ul.objectives {
  li {
    color: #404040;
    margin-bottom: 5px;
  }
}

// .special-event {
//   margin-top: 40px;
//   background-color: white;
//   padding: 20px;
//   margin-bottom: 40px;
//   font-size: 1.2em;

//   .border-radius(10px);
//   .box-shadow;

//   h3 {
//     font-size: 16px;
//     color: #00608A;
//     font-weight: bold;
//     line-height: 18px;
//     margin-bottom: 15px;
//   }
// }

