- first  = meetup.speakers[0]
- second = meetup.speakers[1]
- date   = helpers.formatDate(helpers.parseDate( meetup["on"]), "MMMM YYYY" )
.row-fluid.meetup
  .span6
    .speaker
      = helpers.partial('speaker', { speaker: first, helpers: helpers })
  .span6
    .speaker
      :if second != undefined
        = helpers.partial('speaker', { speaker: second, helpers: helpers })