.register
  %p
    %form(method="get" accept-charset="UTF-8" name="oi_form" action="http=//cmtd1.com/oi/1/4b73ed74e3eb76d8147a15ecbc336fdb")
      %input(type="email" name="email" class="input-medium" placeholder="email")
      %input(type="hidden" name="goto" value="")
      %input(type="hidden" name="iehack" value="&#9760;")
      %br
      %input(type="submit" class="btn btn-success" value="Sign up")
    %p
      &rarr; to be notified of our events.
  %a(href="http://twitter.com/jsmontreal" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#049CDB" data-show-count="false") Follow @jsmontreal
  %script(src="http://platform.twitter.com/widgets.js" type="text/javascript")