.register
  %p
    Join us on&nbsp;
    %a(href="http://www.meetup.com/js-montreal")meetup.com
    %br
    &rarr; to be notified of our events.
  %a(href="http://twitter.com/jsmontreal" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#049CDB" data-show-count="false") Follow @jsmontreal
  %script(src="http://platform.twitter.com/widgets.js" type="text/javascript")