```
title: About
layout: default
tags: ['intro','page']
pageOrder: 1
objectives:
- Promote the use of JavaScript inside and outside the browser
- Build a friendly, inclusive network of Montreal developers
- Disseminate quality JavaScript related information
- Have fun programming and talking about programming
```
.top-unit
  .row
    .col-md-12
      %h2= document.title
      %p.lead JS-MONTREAL is a user group run by volunteers. We meet in borrowed spaces, graciously provided by different companies and organisations. Our purpose is to provide a place where our members have a good time talking about programming, sharing their knowledge and meeting other passionate folks. We keep it friendly, inclusive and positive.
.row
  .col-md-6
    .foto
      %img(src="/img/nerd-herd.jpg")
      %p
        %em
          January 2010
        &mdash; Our first meetup. Douglas Crockford in the house!
  .col-md-6
    .foto
      %img(src="/img/nerds.jpg")
      %p
        %em
          Douglas Crockford, Bruno Carriere, Laurent Villeneuve & Vladimir Sedach
