```
title: archive
layout: default-nonav
tags: ['archive','page']
pageOrder: 4
```
- var meetups = getMeetups()
- meetups.shift()
-# We have to pass the partial and gravaturl function into the partials
-# because they don't get the templateData context passed to them automatically...
- var helpers = { partial: partial, gravaturl: gravaturl, parseDate: parseDate, formatDate: formatDate }

.top-unit
  %h1
    Previously
  %p.lead
    Here are some of the subjects we've covered in the past. If you're interested in participating by giving a talk, don't worry too much if we've touched on the subject before. New people join every day and there are a lot of subjects warranting a re-visit.

:each meetup in meetups
  = helpers.partial('meetup', {meetup: meetup, helpers: helpers})
  %hr