```
title: Be a presenter
layout: default
tags: ['intro','page']
pageOrder: 3
purposes:
- Promote the use and development of JavaScript,
- Promote the adoption of JS outside the browser,
- Build up an inclusive network of Montreal JS developers - amateurs, journeymen, gurus - and facilitate events to encourage knowledge exchange and networking,
- Disseminate quality JS related information (tutorials, articles, papers, discussions, etc),
- Have fun programming and talking about programming
  ```
.jumbotron
  %h1 Want to show us something?
  %p.lead
    Anything related to JavaScript will do. If you want to present a commercial product you benefit from, you are required to buy beer for everyone. That's it!
  %p(style="text-align: center;")
    %a.btn.btn-info.btn-lg{href:"mailto:contact@js-montreal.org"} Contact us
.row
  .col-md-6
    %p
      When we meet, presenters decide whether to use french or english, at their convenience. If the synopsis on our landing page is in french, the presentation will be given (primarily) in french.
  .col-md-6
    %p
      Lors de nos rencontres, les orateurs choisiront de pr&eacute;senter en anglais ou en francais, &agrave; leur guise. Si le synopsis est en français, la présentation le sera aussi.
